<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">twitter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add a message</a>
            </li>
            </ul>
    </div>
</nav>
<!--<a href="/"> message detail</a><br />-->
Title :<span th:text="${posting.title}" ></span><br />

<div th:if="${posting.photo} != null">
    <img class="detail-img" th:src="${posting.photo}" alt="post image"/>

</div>





Content :<span th:text="${posting.content}" ></span><br />
Posteddate :<p th:text="${posting.postedDate}" ></p>
Postedby :<span th:text="${posting.getUser().getUsername()}" ></span><br />
<!--<a th:href="@{/delete/{id}(id=${posting.id})}">Delete</a>-->
<!--<a href="/logout">logout</a>-->
<!--<a href="/add">add a message</a><br />-->
</body>
</html>